body{
    margin: 0%;
    font-family: Inter,sans-serif;
}
.header-box{
    padding-top: 18px;
    width: 100%;
    height: 51px;
    padding-left: 17px;
    position: fixed;
    background-color: #fff;
}

.logo{
    padding-left: 16px;
    float: left;
    width: 4%;
}
.chakra-icon{
    height: 34px;
}
.header-label{
    float: left;
    width: 8%;
    font-family: Inter,sans-serif;
    padding-top: 6px;
}
.theme{
    float: left;
    height: 10px;
    width: 2%;
}
.searchbox{
    float: left;
    font-family: Inter,sans-serif;
    padding-left: 432px;

}
.search{
    height: 34px;
    width: 148px
}
.picture-one{
    width: 100%;
}
.boxes-text{
    font-size: 17px;
    color: gray;
}
.headerbox{
    padding-left: 25%;
    width: 50%;
    height: 200px;
    
}
.heading{
    padding-left: 21%;
    font-size: 39px;
}
.chakra-text{
    color: gray;
    font-size: 20px;
    text-align: center;
}
.chakra-stack{
    padding-left: 290px;

}
.chakra-button{
    font-size: 15px;
    color: #fff;
    background-color: blue;
    height: 43px;
    width: 163px;
    border: none;
    border-radius: 4px;
    float: left;

}

.secondbox{
    padding-top: 80px;
    height: 400px;
}
.side-content{
    padding-top: 100px;
    padding-left: 129px;
    width: 32%;
    float: left;
}
h1{
    font-size: 32px;
    margin: 2rem 0px
}
p{
    font-size: 1.25rem
    
}
.side-image{
    padding-left: 129px;
    
    width: 48%;
    float: left;

}
.image-one{
    width: 87%;
}
.thirdbox{
    width: 100%;
    height: 900px;
    margin: 56px;
    
}
.box-one{
    float: left;
    width: 45%;
    height:  379px;
    border: 1px solid;
    
    margin: 10px;

}
.image-boxone{
    width: 100%;
    height: 250px;
}
.box-two{
    float: left;
    width: 45%;
    height: 379px;
   
    border: 1px solid;
    margin: 10px;

}
.image-boxtwo{
    width: 100%;
}

.box-three{
    float: left;
    width: 45%;
    height: 379px;
    border: 1px solid;
   
    margin: 10px;
    

}
.image-boxthree{
    width: 100%;
}
.box-four{
    float: left;
    width: 45%;
    height:  379px;
   
    border: 1px solid;
    margin: 10px;

}
.image-boxfour{
    width: 100%;
}
.third-box{
    width: 100%;
    height: 600px;
    background-color: rgb(214, 248, 236);

}
.chakra-button2{
    padding-left: 10px;
    font-size: 15px;
    color: black;
    background-color:aquamarine;
    height: 43px;
    width: 186px;
    border: none;
    border-radius: 4px;
    float: left;

}
.fourth-box{
    padding-top: 80px;
    height: 600px;
    background-color:rgb(253, 238, 229);
}
.footer{
    width: 100%;
    height: 700px;
}
.inner-footer{
    padding-left: 20px;
    width: 15%;
    float: left;
}
.footer-label{
    font-size: 17px;
    color: grey;
}


